*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #250606;
}
.title,.level{
    color: #fff;
    text-align: center;
    font-size: 4rem;
    margin: 0 auto;
}
.level{
    font-size: 2.5rem;
    margin: .5em 0;
}
.container{
    background-color: #232121;
    margin:0 auto;
    width: 28em;
    height: 28em;
    border-radius: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    gap: 3%;
}
.button{
    border: none;
}
.button:active{
    transform: scale(1.02);
}
.button--color:nth-child(1){
    border-radius: 100% 5% 5% 5% ;
    background-color: #4c5;
}
.button--color:nth-child(2){
    border-radius: 5% 100% 5% 5% ;
    background-color: #c45;
}
.button--color:nth-child(3){
    border-radius: 5% 5% 5% 100%;
    background-color: #cc5;
}
.button--color:nth-child(4){
    border-radius: 5% 5% 100% 5%;
    background-color: #45c;
}
.button--color{
    width: 45%;
    height: 45%; 
}
.button--select{
    filter: brightness(2);
}

.button--start{
    position: absolute;
    align-self: center;
    width: 8em;
    height: 8em;
    background-color: #232121;
    border-radius: 100%;
    box-shadow: 0px 0px 0 15px #000,0px 0px 0 50px #232121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--start::after,
.button--start::before{
    content: '';
    position: absolute;
}
.button--start::after{
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: .5em solid #fff;
    z-index: 100;
}
.button--start::before{
    width: 20%;
    border: .3em solid #fff;
    box-shadow: 0 0 0 .5em #232121;
    border-radius: 10px;
    transform: rotate(90deg);
    margin-bottom: 3em;
    z-index: 200;
}