:root{
    --green:#4c5;
    --red:#c45;
    --orange:#cc5;
    --blue:#45c;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #250606;
    overflow-x: hidden;
}
.title,.level{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}
.level{
    font-size: 2.5rem;
    margin: .5em 0;
    transition: transform .5s ,background-color .5s;
}
.level--scalered{
    transform: scale(1.3);
    background-color: var(--red);
}
.level--scalegreen{
    transform: scale(1.3);
    background-color: var(--green);
}
.window-modal__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000099;
    transform:  scale(0);
    transition: transform .5s;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window-modal__background--scale{
    transform: scale(1);
}
.window-modal{
    position: relative;
    width: 10em;
    padding: .5em;
    background-color: #eae1e1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    border-radius: .5em;
}
.window-modal__close{
    position:absolute;
    right: 2%;
    top: 2%;
    background-color: var(--red);
    color: #fff;
}
.window-modal__accept{
    width: 50%;
    border-radius: .5em;
    background-color:var(--blue);
    color: #fff;
    padding: .5em 1em;
    
}
.data-player{
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 40%;
}

.container{
    background-color: #232121;
    margin:0 auto;
    width: 20em;
    height: 20em;
    border-radius: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    gap: 3%;
}
.container--block{
    pointer-events: none;
}
.button{
    border: none;
}
.button:active{
    transform: scale(1.02);
}
.button--color:nth-child(1){
    border-radius: 100% 5% 5% 5% ;
    background-color: #4c5;
}
.button--color:nth-child(2){
    border-radius: 5% 100% 5% 5% ;
    background-color: #c45;
}
.button--color:nth-child(3){
    border-radius: 5% 5% 5% 100%;
    background-color: #cc5;
}
.button--color:nth-child(4){
    border-radius: 5% 5% 100% 5%;
    background-color: #45c;
}
.button--color{
    width: 45%;
    height: 45%; 
}
.button--select{
    filter: brightness(2);
}

.button--start{
    position: absolute;
    align-self: center;
    width: 5em;
    height: 5em;
    background-color: #232121;
    border-radius: 100%;
    box-shadow: 0px 0px 0 10px #000,0px 0px 0 40px #232121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--start::after,
.button--start::before{
    content: '';
    position: absolute;
}
.button--start::after{
    width: 50%;
    height: 50%;
    border-radius: 100%;
    border: .5em solid #fff;
    z-index: 100;
}
.button--start::before{
    width: 20%;
    border: .2em solid #fff;
    box-shadow: 0 0 0 .3em #232121;
    border-radius: 10px;
    transform: rotate(90deg);
    margin-bottom: 2em;
    z-index: 200;
}

.form-player{
    width: 80%;
    margin:1.5em auto;
    color: #fff;
    text-align: center;
}
.form-player__field{
    margin: .5em 0;
    font-size: 1rem;
}
.form-player__input{
    outline: none;
}
.form-player__accept{
    border-radius: 10px;
    padding: .5em 1em;
    background-color: #4c5;
    font-weight: bold;
}


@media screen and (min-width:480px) {
    .title{
        font-size: 3.8rem;
    }
    .container{
        width: 20em;
        height: 20em;
    }
    .button--start{
        width: 5em;
        height: 5em;
        box-shadow: 0px 0px 0 10px #000,0px 0px 0 40px #232121;
    }
    .button--start::after{
        width: 50%;
        height: 50%;

    }
    .button--start::before{
        width: 25%;
        border: .2em solid #fff;
        box-shadow: 0 0 0 .3em #232121;
        margin-bottom: 2em;
    }

}